* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body {
  height: 100%;
  width: 100%;
}


.card {
    border: 2px solid gray;
    padding: 15px;
    margin: 10px;
}

/* Agar card ke andar button ho */
.card:has(button) {
    border-color: green;
    background-color: #e6ffe6;
}
