* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.box {
  max-width: 300px;
  height: 400px;
  padding-inline: 10px;
  padding-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* box-shadow: 0 0 50px rgb(235, 88, 112); */
  border-radius: 10px;
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(255, 0, 123), black) border-box;
  border: 5px solid rgb(255, 255, 255, 0);
  margin: 10px;
  animation: borderAnimate 3s infinite;



}


.box img {
  width: 100%;
  height: 100%;
}