* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  anchor-name: --some-anchor;

}

.box {
  height: 200px;
  width: 200px;

}

.box:hover {
  anchor-name: --some-anchor;
}

.red {
  background-color: rgb(141, 0, 0);

}

.blue {
  background-color: rgb(119, 119, 217);
}

.green {
  background-color: rgb(161, 219, 3);
}

.anchor {
  background-color: rgb(101, 96, 96);
  border-radius: 10px;
  position: absolute;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  pointer-events: none;
  position-anchor: --some-anchor;
  transition: all 0.3s linear;
  mix-blend-mode: difference;
}